.footer {
  &Container {
    justify-content: space-between !important;

    &Logo {
      gap: 1rem;
    }

    &Info {
      gap: 1.5rem;
      margin-top: 1.5rem;
      font-weight: 500;
      &Menu {
        span {
          padding-right: 0.5rem;
        }
      }
    }
  }
}
