@use "../../styles/variables";

.header {
  color: white;
  font-family: "Poppins", sans-serif;

  &Container {
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: variables.$secondary;

    img {
      width: 100px;
    }
  }

  &Menu {
    gap: 2rem;

    > *:hover {
      cursor: pointer;
    }
  }
}
